<head> 
  <meta charset="utf-8"> 
  <title>l33t hax0r</title>
  <link href="/styles/client.css" rel="stylesheet" type="text/css" /> 
</head> 
<body class="noisy"> 
  <div class="frame">
    <div class="piece output">
      <div class="OS">
        HackerOS v0.45
        <span class="unit">Hacker Cred: </span>
      </div>
      <div id="score" class="score center" v-bind:class="{ 'score-decreasing': scoreDecreased}">
        {{scoreAnimationLeft}} {{score}} {{scoreAnimationRight}}
      </div>
      <div id="slider" class="slider">
        {{slider}}
      </div>
      <div id="console" class="console">
        {{{visibleCode}}}
      </div>
      <div id="shortcutKeys" class="shortcutKeys grid grid-pad">
        {{{shortcutKeys}}}
      </div>
      <div class="roster-container">
        Agents:
        <ul id="roster" class="roster">
          <li v-for="user in users">
            {{ user.userName }}
          </li>
        </ul>
        <a href="#" id="copy-link" class="button" data-clipboard-text="http://playl33t.com/play/<%= room %>">
          Invite Friends
        </a>
      </div>
    </div>
    <div id="userEvents">
      {{{userEvents}}}
    </div>
    <div class="piece scanlines noclick"></div>
    <div class="piece glow noclick"></div>
  </div>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script> 
  <script>
    var roomID = '<%= room %>';
  </script>
  <script src="/js/client.js"></script>
  <audio src="/assets/InnerCore_Low.mp3" autoplay loop></audio>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73275801-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>