<head> 
  <meta charset="utf-8"> 
  <title>l33t haz0r</title>
  <link href="/styles/client.css" rel="stylesheet" type="text/css" /> 
</head> 
<body class="noisy"> 
  <div class="frame">
    <div class="piece output">
      <div id="header" class="header">
      </div>
      <div id="console" class="console">
        
      </div>
      <div id="specialkeys" class="specialkeys">
      special keys
      </div>
      <div id="roster" class="roster">
        roster
      </div>
    </div>
  </div>

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script> 
  <script>
    var roomID = '<%= room %>';
  </script>
  <script src="/js/client.js"></script>
</body>
</html>