<head> 
  <meta charset="utf-8"> 
  <title>l33t hax0r</title>
  <link href="/styles/client.css" rel="stylesheet" type="text/css" /> 
</head> 
<body class="noisy"> 
  <div class="frame">
    <div class="piece output">
      <div class="OS">
        HackerOS v0.45
        <span class="unit">Hacker Cred: </span>
      </div>
      <div id="score" class="score center" v-bind:class="{ 'score-decreasing': scoreDecreased}">
        {{scoreAnimationLeft}} {{score}} {{scoreAnimationRight}}
      </div>
      <div id="slider" class="slider">
        {{slider}}
      </div>
      <div id="console" class="console">
        {{visibleCode}}
      </div>
      <div id="specialkeys" class="specialkeys grid grid-pad">
      </div>
      <div id="roster" class="roster">

      </div>
    </div>
    <div id="events"></div>
    <div class="piece scanlines noclick"></div>
    <div class="piece glow noclick"></div>
  </div>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script> 
  <script>
    var roomID = '<%= room %>';
  </script>
  <script src="/js/client.js"></script>
  <!-- <audio src="/assets/InnerCore_Low.mp3" autoplay loop></audio> -->
</body>
</html>