<head> 
  <meta charset="utf-8"> 
  <title>l33t haz0r</title>
  <link href="/styles/client.css" rel="stylesheet" type="text/css" /> 
</head> 
<body class="noisy"> 
  <div class="frame">
    <div class="piece output">
      <div id="header" class="header">
      </div>
      <div>
        <pre id="console" class="console title">
      
  /$$    /$$$$$$   /$$$$$$    /$$           /$$   /$$                      /$$$$$$             <br>
 /$$$$   /$$__  $$ /$$__  $$  | $$          | $$  | $$                     /$$$_  $$           <br> 
|_  $$  |__/  \ $$|__/  \ $$ /$$$$$$        | $$  | $$  /$$$$$$  /$$   /$$| $$$$\ $$  /$$$$$$  <br>
  | $$     /$$$$$/   /$$$$$/|_  $$_/        | $$$$$$$$ |____  $$|  $$ /$$/| $$ $$ $$ /$$__  $$ <br>
  | $$    |___  $$  |___  $$  | $$          | $$__  $$  /$$$$$$$ \  $$$$/ | $$\ $$$$| $$  \__/ <br>
  | $$   /$$  \ $$ /$$  \ $$  | $$ /$$      | $$  | $$ /$$__  $$  >$$  $$ | $$ \ $$$| $$       <br>
 /$$$$$$|  $$$$$$/|  $$$$$$/  |  $$$$/      | $$  | $$|  $$$$$$$ /$$/\  $$|  $$$$$$/| $$       <br>
|______/ \______/  \______/    \___/        |__/  |__/ \_______/|__/  \__/ \______/ |__/       <br>
                                                                                              
        </pre>
      </div>
      <div class="blink">
        <%= numPlayers %> Hackers connected! 
      </div>
    </div>
  </div>

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script> 
</body>
</html>