<head> 
  <meta charset="utf-8"> 
  <title>l33t hax0r</title>
  <link href="/styles/client.css" rel="stylesheet" type="text/css" /> 
</head> 
<body class="noisy"> 
  <div class="frame">
    <div class="piece output">
      <div>
        <pre class="title center bounceIn animated">
      
  /$$     /$$$$$$   /$$$$$$    /$$           /$$   /$$                      /$$$$$$             <br>
 /$$$$   /$$__  $$ /$$__  $$  | $$          | $$  | $$                     /$$$_  $$           <br> 
|_  $$  |__/  \ $$|__/  \ $$ /$$$$$$        | $$  | $$  /$$$$$$  /$$   /$$| $$$$\ $$  /$$$$$$  <br>
  | $$     /$$$$$/   /$$$$$/|_  $$_/        | $$$$$$$$ |____  $$|  $$ /$$/| $$ $$ $$ /$$__  $$ <br>
  | $$    |___  $$  |___  $$  | $$          | $$__  $$  /$$$$$$$ \  $$$$/ | $$\ $$$$| $$  \__/ <br>
  | $$   /$$  \ $$ /$$  \ $$  | $$ /$$      | $$  | $$ /$$__  $$  >$$  $$ | $$ \ $$$| $$       <br>
 /$$$$$$|  $$$$$$/|  $$$$$$/  |  $$$$/      | $$  | $$|  $$$$$$$ /$$/\  $$|  $$$$$$/| $$       <br>
|______/ \______/  \______/    \___/        |__/  |__/ \_______/|__/  \__/ \______/ |__/       <br>
                                                                                              
        </pre>
      </div>
      <br>
      <div class="center">
        <p class="blink">
          <%= numPlayers %> Hackers connected! 
        </p>
        <p>
          133t Hax0r is a multiplayer hacking simulator. Experience the intricate hacking rituals as depicted by Hollywood!
        </p>
        <a href="/play" class="button">
          Play now
        </a>   
      </div>
    </div>  
    <div class="piece scanlines noclick"></div>
    <div class="piece glow noclick"></div>
  </div>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script> 
</body>
</html>